body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  
  margin: 0 18%;
  text-align: justify;
  background-color: rgb(70, 70, 70);
  color: whitesmoke;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.65;
  opacity: 0.7;
}
/*
p {
  line-height: 160%;
}
*/
img {
  width: 450px;
}

h4 {
  font-size:large;
  margin-bottom: 0;
  padding-bottom: 0;
}
h5 {
  font-size: medium;
  margin-bottom: 0;
  padding-bottom: 0;
}

a{
  text-decoration: none;
  color: white;
}

ol {
  counter-reset: list-counter; /* Resetea el contador */
}

ol li {
  list-style: none; /* Elimina el estilo de lista predeterminado */
}


/*
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
*/
.highlight {
  color: white; 
  font-weight: bold;
  opacity: 1;
}

/*
.bionic {
  font-weight: bold;
  opacity: 1;
}
.normal {
  opacity: 0.7;
}
*/
