h1 {
  /*font-family: "Jersey 10 Charted", sans-serif;*/
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}
.highlight {
  color: black; /* Cambiar el color a negro */
  font-weight: bold;
}
